* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  /* Global */
  
  body {
    font-family: sans-serif;
    background-color:gray;
    overflow-x: hidden;
    transition: 0.5s;
  }

  header {
    display: block;
  }
  a{
    position:relative;
    left:0px;
  }
  .navbar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:black;
    opacity: 0.8;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
    z-index: 9999;
  }
  .navbar__brand {
    width: 100px;
    margin-left: 5px;
  }

  .brand__logo {
    width: 100%;
  }

  .nav__item a {
    text-decoration: none;
    color: rgb(241, 233, 233);
    margin-right: 10px;
  }

.home{
    position: relative;
    background: url(bgimage.jpg) no-repeat;
    background-size: cover;
    height: 500px;
}
.text_container{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 500px;
    justify-content: center;
    align-items: center;
}
  
.text_container_h1{
    font-family: 'Bree Serif', serif;
    font-size: 3.8rem;
    padding: 12px;
    color:white;
}
.btn{
  padding: 6px 20px;
  border: 2px solid white;
  background-color: brown;
  color: white;
  margin: 17px;
  font-size: 1.5rem;
  border-radius: 10px;
  cursor: pointer;
}

.explore_menu{
  color: whitesmoke;
  margin-top: 20px;
  font-size: 70px;
  text-align: center;
  text-shadow: palevioletred;
}

.box{
  color: black;
  margin-top: 30px;
  font-size: 20px;
}

.card-group{
  margin: 25px;
  transition: 0.7s ease;
}

.card{
  margin: 25px;
}

.card:hover{
  opacity: 0.3;
}


.load__more{
  text-align: center;
}
.load__more button{
  opacity: 0.5;
  background-color: whitesmoke;
  background-image: none;
  color: #7c7c7c;
  border: 1px solid #7c7c7c;
  font-weight: 250;
}
.load__more button:hover{
  opacity: 1;
}

footer{
  background-color: whitesmoke;
  margin-top: 5vh;
  padding-bottom: 4vh;
  padding-top: 3vh;
}
li{
  list-style-type: none;
}
ul{
  list-style-type: none;
  display: block;
}
.policy__mob{
  display: none;
}
.policy{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
footer li{
  margin: 2vh 0;
}
footer a{
  text-decoration: none;
  color: #7c7c7c;
}
footer p{
  color: #7c7c7c;
  margin: 1vh 2vw;
  margin-right: 0;
}

@media(max-width: 574px){
  .policy{
    display: none;
}
.policy__mob{
    display: contents;
}

.divide{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 2vw;
}
}